<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true"
         cacheResultFile=".phpunit.result.cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <coverage
        includeUncoveredFiles="true"
        pathCoverage="false"
    >
        <report>
            <clover outputFile=".phpunit.coverage.xml"/>
        </report>
    </coverage>
    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <ini name="opcache.enable_cli" value="off" />
        <ini name="xdebug.mode" value="develop,debug,coverage" />
    </php>
</phpunit>
